.card {
  --background: #fff;
  --cardShadow: rgba(32, 33, 37, 0.1);
  --cardShadowHover: rgba(32, 33, 37, 0.06);
  --cardShadowActive: rgba(32, 33, 37, 0.55);
  --cardBorder: #dbdce0;
}

.card {
  justify-content: center;
  width: 50%;
  height: 320px;
  margin: 10px;
  background: var(--background);
  color: var(--textColor);
  border: 1px solid var(--cardBorder);
  padding: 35px;
  box-shadow: 8px 8px 0 var(--cardShadow);
  border-radius: 8px;
  display: inline-block;
  transition: 0.5s ease-in-out, box-shadow 0.5s, transform 0.5s;
}

@media screen and (max-width: 68rem) {
  .card {
    width: 50%;
  }
}

@media screen and (max-width: 40rem) {
  .card {
    width: 100%;
  }
}

.dark .card {
  --background: #3c4043;
  --cardShadow: rgba(0, 0, 0, 0.28);
  --cardShadowHover: rgba(0, 0, 0, 0.16);
  --cardShadowActive: rgba(0, 0, 0, 0.55);
  --cardBorder: #202125;
  color: var(--color-text);
}

.card:hover {
  transform: translate(-2px, -4px);
  box-shadow: 16px 16px 0 var(--cardShadowHover);
}

.card-heading {
  font-size: var(--18px);
  margin-top: 1.5em;
  font-weight: bold;
}

.card > .card-icon,
.card > .card-heading,
.card > .card-description {
  margin-bottom: 0.7em;
  cursor: default;
  user-select: none;
}

.card > .card-description {
  line-height: 1.5em;
  min-height: 6em;
}

.card > .card-icon {
  font-size: 3em;
  margin-bottom: 0.2em;
}
