.card {
  --background: #fff;
  --cardShadow: rgba(32, 33, 37, 0.1);
  --cardShadowHover: rgba(32, 33, 37, 0.06);
  --cardShadowActive: rgba(32, 33, 37, 0.55);
  --cardBorder: #dbdce0;
}

.card {
  justify-content: center;
  width: 50%;
  margin: 10px;
  background: var(--background);
  color: var(--textColor);
  border: 1px solid var(--cardBorder);
  padding: var(--24px);
  box-shadow: 8px 8px 0 var(--cardShadow);
  border-radius: 8px;
  display: inline-block;
  transition: 0.5s ease-in-out, box-shadow 0.5s, transform 0.5s;
}
/* 1920px */
@media screen and (max-width: 120rem) {
}

/* 1440 */
@media screen and (max-width: 90rem) {
}

/* 1200px */
@media screen and (max-width: 70rem) {
  .card {
    width: 50%;
    min-height: 320px;
  }
}

/* 640px-800px (xs) */
@media screen and (max-width: 50rem) {
  .card {
    width: 100%;
    min-height: 100%;
  }
}

.card:hover {
  transform: translate(-2px, -4px);
  box-shadow: 16px 16px 0 var(--cardShadowHover);
}

.card-heading {
  font-size: var(--18px);
  margin-top: 1.5rem;
  font-weight: bold;
}

.card > .card-icon,
.card > .card-heading,
.card > .card-description {
  margin-bottom: 0.7rem;
  cursor: default;
  user-select: none;
}

.card > .card-description {
  line-height: 1.5rem;
  min-height: 5.5rem;
}

.card > .card-icon {
  font-size: 3rem;
}
