.card-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: var(--20px) 15vw;
  justify-content: space-around;
  align-items: center;
}

.round-card {
  border: 1px solid #ddd;
  border-radius: 24px;
  padding: var(--20px);
  margin: 10px;
  width: 100%;
  text-align: start;
}

.round-card h3 {
  font-size: var(--20px);
  font-weight: 500;
  margin-top: 65px;
  margin-bottom: 8px;
}

.card-description {
  font-weight: 300;
  margin: 0;
}

.application-container {
  padding: var(--20px) 15vw;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  padding: 0;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--20px);
  background-color: inherit;
  font-size: var(--20px);
}

.filled-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 50%;
  margin-bottom: 10px;
}

.grid-item:nth-child(n + 1):nth-child(-n + 2),
.grid-item:nth-child(n + 4):nth-child(-n + 5) {
  border-right: 1px solid #000;
}

.grid-item:nth-child(n + 1):nth-child(-n + 3) {
  border-bottom: 1px solid #000;
}

/* 1920px */
@media screen and (max-width: 120rem) {
  .card-container {
    padding: 5vw;
  }

  .application-container {
    padding: 5vw;
  }
}

/* 1440 */
@media screen and (max-width: 90rem) {
  .card-container {
    padding: 3vw;
  }

  .round-card {
    height: 220px;
  }

  .application-container {
    padding: 3vw;
  }
}

/* 1200px */
@media screen and (max-width: 75rem) {
  .round-card {
    margin: 5px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Adjust borders for 2-column layout */
  .grid-item:nth-last-child(-n + 2) {
    border-bottom: none;
  }

  .grid-item:nth-child(even) {
    border-right: none !important;
  }

  .grid-item:nth-child(odd) {
    border-right: 1px solid #000;
  }

  .grid-item:nth-child(n + 1):nth-child(-n + 4) {
    border-bottom: 1px solid #000;
  }
}

/* 640px-800px (xs) */
@media screen and (max-width: 50rem) {
  .card-container {
    flex-direction: column;
  }

  .round-card {
    height: auto;
  }
  .round-card h3 {
    margin-top: 30px;
  }

  .card-icon {
    margin-bottom: 25px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item:nth-child(odd) {
    border-right: none !important;
  }

  .grid-item:nth-child(n + 1) {
    border-bottom: 1px solid #000;
  }

  .grid-item:first-child {
    border-top: 1px solid #000;
  }
}
