.card-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 400px;
  padding: 20px 20vw;
  justify-content: space-around;
  align-items: center;
}

/* 1920px */
@media screen and (max-width: 120rem) {
  .card-container {
    padding: 20px 15vw;
  }
}

/* 1440 */
@media screen and (max-width: 90rem) {
  .card-container {
    padding: 20px 10vw;
  }
}

/* 1200px */
@media screen and (max-width: 70rem) {
  .card-container {
    padding: 20px 0vw;
  }
}

/* 640px-800px (xs) */
@media screen and (max-width: 50rem) {
  .card-container {
    padding: 20px 5vw;
    flex-direction: column;
  }
}
