.hero {
  position: relative;
  display: flex;
  min-height: 100vh;
  padding: 100px 20vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

@media screen and (max-width: 55rem) {
  .hero {
    padding: 15%;
  }
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /* Semi-transparent overlay */
  background: linear-gradient(230deg, #2d302f75 0%, #2d302f75 80%);
  background: -webkit-linear-gradient(230deg, #2d302f75 0%, #2d302f75 80%);
  background: -moz-linear-gradient(230deg, #2d302f75 0%, #2d302f75 80%);
  z-index: 2;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.hero-content {
  font-size: var(--32px);
  position: relative;
  z-index: 3;
}

.hero-content h2 {
  color: var(--color-primary);
  text-shadow: 2px 2px var(--color-text);
}

.hero-content p {
  color: var(--color-text);
  font-size: var(--24px);
  text-shadow: 2px 2px var(--color-text-light);
}

.hero-btn {
  margin-top: 30px;
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 3px solid var(--color-primary);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}

.hero-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.hero-btn:hover::before {
  transform: translateX(0);
}

.kenburns-top {
  -webkit-animation: kenburns-top 3s ease-out both;
  animation: kenburns-top 3s ease-out both;
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
