.about-section {
  height: 100%;
  padding-bottom: 100px;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px 20vw;
}

.stats-item h1 {
  display: flex;
  align-items: center;
  font-size: var(--36px);
  font-weight: 400;
  margin-bottom: 10px;
}

.stats-item p {
  font-size: var(--16px);
  font-weight: 300;
  margin-bottom: 30px;
}

.round-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px 15vw;
}

.round-item {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  text-align: start;
  padding: 20px;
  font-size: var(--20px);
  border-radius: 50px;
}

/* 1920px (2xl) */
@media screen and (max-width: 120rem) {
  .round-container {
    padding: 10px 5vw;
  }
  .stats-container {
    padding: 10px 10vw;
  }
}

/* 1440px (lg-xl) */
@media (max-width: 90rem) {
  .round-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 1200px (sm-md) */
@media screen and (max-width: 75rem) {
  .stats-container {
    padding: 10px 5vw;
  }

  .stats-item h1 {
    font-size: var(--24px);
    font-weight: 400;
  }
}

/* 640px-800px (xs) */
@media (max-width: 50rem) {
  .about-section {
    padding-bottom: 50px;
  }
  .round-container {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 10px 3vw;
  }

  .stats-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
