.header {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  transition: 0.3s ease-in;
  font-size: var(--18px);
  overflow: hidden;
}

.header-bg {
  background-color: var(--color-primary);
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cydel-logo {
  height: 45px;
  width: 45px;
  margin-right: 10px;
  cursor: pointer;
}

.header .nav-menu {
  display: flex;
}

.nav-item {
  list-style: none;
  padding: 1rem;
  font-weight: 500;
}

.nav-item-color {
  color: var(--color-white);
}

.nav-item-color .active {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--color-white);
}

.nav-menu .nav-item a:hover {
  cursor: pointer;
  padding-bottom: 12px;
  border-bottom: 3px solid var(--color-black);
}

.nav-menu .nav-item-color a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--color-white);
}

.nav-item.active {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--color-text);
}

.nav-item-color.active {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--color-white);
}

.nav-item a,
.logo a {
  text-decoration: none;
  color: var(--color-black);
}

.nav-item-color a,
.logo-color a {
  text-decoration: none;
  color: var(--color-white);
}

.hamburger {
  display: none;
  color: var(--color-black);
}

.nav-btn {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.nav-btn {
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.nav-btn p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--color-black);
}

.nav-btn::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--color-primary);
  height: 2px;
  transition: 0.3s ease-out;
}

.nav-btn p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "Inquire";
  width: 0%;
  inset: 0;
  color: var(--color-primary);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.nav-btn:hover::after {
  width: 100%;
}

.nav-btn:hover p::before {
  width: 100%;
}

.nav-btn:hover svg {
  transform: translateX(4px);
  color: var(--color-primary);
}

.nav-btn svg {
  color: var(--color-black);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.1s ease-in-out;
}

.nav-btn-color p,
.nav-btn-color svg,
.nav-btn p::before {
  color: var(--color-white);
}

.nav-btn-color:hover svg {
  color: var(--color-white);
}

.nav-btn-color::after {
  background: white;
}

@media screen and (max-width: 50rem) {
  .header {
    max-width: 100%;
    background-color: var(--color-background-light);
  }

  .header-bg {
    background-color: var(--color-primary);
  }

  .header .navbar {
    max-width: 100%;
  }

  .theme-icon {
    position: relative;
    right: 30px;
  }

  .hamburger {
    color: var(--color-black);
    display: block;
  }

  .hamburger-color {
    color: var(--color-white);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 90px;
    flex-direction: column;
    background-color: var(--color-background-light);
    width: 100%;
    height: 90vh;
    z-index: 999;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    background-color: var(--color-primary);
    left: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }

  .nav-btn {
    display: none;
  }
}
